<div class="parallax-window" data-parallax="scroll" data-speed="0.2" data-image-src="/static/bg.jpg">
	<section class="jumbotron">
		<div class="jumbotron__text">
			<img src="/static/logo.png" alt="HtB logo" class="jumbotron__logo"/>
			<div class="jumbotron__infotext">
				The hackathon from beyond the wall has ended, and we will be back for next year.
			</div>
			<div class="jumbotron__buttons">
                <a href="https://hacktheburgh.com/submit" class="button">
                    projects <i class="button__arrow fas fa-arrow-right"></i>
                </a>
                <a href="https://www.facebook.com/compsoc/videos/258577271756788/" class="button">
                    video <i class="button__arrow fas fa-arrow-right"></i>
                </a>
			</div>
		</div>
		<span class="jumbotron__emailus">Have a question? Send an email to <a href="mailto:hello@hacktheburgh" class="displaylink">hello@hacktheburgh.com</a>.</span>
		<svg
			class="jumbotron__transition"
			viewBox="0 0 100 10"
			preserveAspectRatio="none">
			<polygon points="100 0 100 10 0 10" />
		</svg>
	</section>
</div>
