<section class="jumbotron">
	<div class="jumbotron__text">
		<img src="/static/logo.png" alt="HtB logo" class="jumbotron__logo"/>
		<div class="jumbotron__infotext">
			The hackathon from beyond the wall will be back from the <a href="https://calendar.google.com/calendar/r/eventedit?text=Hack+the+Burgh+2019&dates=20190316/20190317&details=For+details,+check+here:+https://2019.hacktheburgh.com.+See+you+there!&location=Informatics+Forum,+Edinburgh+EH8+9AB" target="_blank" rel="noopener">16th to 17th of March</a>,
			in the <a href="https://goo.gl/maps/N9S7sYiZxq12" target="_blank" rel="noopener">Informatics Forum</a>.
		</div>
		<div class="jumbotron__buttons">
			<a href="//hacktheburgh.com/register-interest" class="button">
				register&nbsp;interest <span class="button__arrow">&rarr;</span>
			</a>
			<a href="//hacktheburgh.com/volunteer" class="button">
				volunteer <span class="button__arrow">&rarr;</span>
			</a>
			<!--a href="//hacktheburgh.com/facebook" class="button">
				facebook <span class="button__arrow">&rarr;</span>
			</a-->
		</div>
	</div>
</section>
