<div class="parallax-window" data-parallax="scroll" data-speed="0.2" data-image-src="/static/bg.jpg">
	<section class="jumbotron">
		<div class="jumbotron__text">
			<img src="/static/logo.png" alt="HtB logo" class="jumbotron__logo"/>
			<div class="jumbotron__infotext">
				The hackathon from beyond the wall will be back from the <a href="https://calendar.google.com/calendar/r/eventedit?text=Hack+the+Burgh+2019&dates=20190316/20190318&details=For+details,+check+here:+https://2019.hacktheburgh.com.+See+you+there!&location=Informatics+Forum,+Edinburgh+EH8+9AB" target="_blank" rel="noopener" title="add to calendar">16th to 17th of March</a>,
				in the <a href="https://goo.gl/maps/N9S7sYiZxq12" target="_blank" rel="noopener" title="show in maps">Informatics Forum</a>.
			</div>
			<div class="jumbotron__buttons">
                <a href="//hacktheburgh2019.slack.com" class="button">
                    slack <i class="button__arrow fas fa-arrow-right"></i>
                </a>
                <a href="/live" class="button">
                    live <i class="button__arrow fas fa-arrow-right"></i>
                </a>
			</div>
		</div>
		<span class="jumbotron__emailus">Have a question? Send an email to <a href="mailto:hello@hacktheburgh" class="displaylink">hello@hacktheburgh.com</a>.</span>
		<svg
			class="jumbotron__transition"
			viewBox="0 0 100 10"
			preserveAspectRatio="none">
			<polygon points="100 0 100 10 0 10" />
		</svg>
	</section>
</div>
