<div class="live" data-parallax="scroll" data-speed="0.2" data-image-src="/static/bg.jpg">
    <div class="live__topbar">
        <a class="live__topbarback" href="/">
            <i class="fas fa-home"></i>
        </a>
        <input type="radio" name="livenav" id="live" value="live" class="live__topbar__input" checked/>
        <label for="live">Live</label>
        <input type="radio" name="livenav" id="chal" value="chal" class="live__topbar__input"/>
        <label for="chal">Challenges</label>
        <input type="radio" name="livenav" id="info" value="info" class="live__topbar__input"/>
        <label for="info">Info</label>
    </div>
    <ul class="live__schedule" data-nav="live">
        {% for event in site.data.schedule %}
        <li class="live__scheduleitem" data-time="{{ event.timestamp }}" data-duration="{{ event.duration }}" data-title="{{ event.title }}"> 
            <div class="live__scheduleitembody">
                <div class="live__scheduleitem__title">
                    <h2> {{ event.title }} </h2>
                    <span class="live__scheduleitem__title--countdown">{{ event.timestamp }}</span>
                </div>
                <div class="live__eventdetails">
                    <p>{{ event.content }}</p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="live__challenges live--hidden" data-nav="chal">
        {% for event in site.data.challenges  %}
        <a class="live__challenge" href="https://hacktheburgh2019.slack.com/messages/{{ event.slackID }}" target="_blank">
            <div class="live__challengebody">
                <h3 class="live__challengetitle">{{ event.title }}</h3>
                <p>{{ event.description }}</p>
                <div class="live__challengechannel">On slack at #{{ event.slackName }}</div>
            </div>
            <div class="live__challengebutton">
                <i class="fas fa-arrow-right"></i>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="live__information live--hidden" data-nav="info">
        <p>More info to come!</p>
    </div>
    <svg class="live__aftertransition" viewBox="0 0 100 10" preserveAspectRatio="none">
		<polygon points="100 0 100 10 0 10"/>
	</svg>
</div>
