<div class="parallax-window sponsorship" data-parallax="scroll" data-speed="0.2"
    data-image-src="/static/bg3.png">
    <svg class="sponsorship_beforetransition" viewBox="0 0 100 10" preserveAspectRatio="none">
		<polygon points="100 0 0 0 0 10"/>
	</svg>

    <h2> Sponsors </h2>

    <div class="sponsorship__group sponsorship__platinum">
        <div class="sponsorship__row">
			<a href="//blackrock.com" target="_blank">
				<img src="/static/sponsors/blackrock.png" alt="BlackRock" />
			</a>
        </div>
    </div>

    <hr/>

    <div class="sponsorship__group sponsorship__gold">
        <div class="sponsorship__row">
			<a href="//careers.jpmorgan.com" target="_blank">
				<img src="/static/sponsors/jpmorgan.png" alt="JP Morgan" />
			</a>
			<a href="//www.arm.com" target="_blank">
				<img src="/static/sponsors/arm.png" alt="ARM" />
			</a>
        </div>
        <div class="sponsorship__row">
			<a href="//squarepoint-capital.com" target="_blank">
				<img src="/static/sponsors/squarepoint.png" alt="SquarePoint Capital" />
			</a>
			<a href="//www.nexmo.com" target="_blank">
				<img src="/static/sponsors/nexmo.png" alt="Nexmo" />
			</a>
        </div>
    </div>

    <hr/>

    <div class="sponsorship__group sponsorship__silver">
        <div class="sponsorship__row">
			<a href="//craneware.com" target="_blank">
            <img src="/static/sponsors/craneware.png" alt="Craneware" />
			</a>
			<a href="//codethink.co.uk" target="_blank">
            <img src="/static/sponsors/codethink.png" alt="Codethink" />
			</a>
        </div>
        <div class="sponsorship__row">
			<a href="//www.connectedenergy.net/" target="_blank">
            <img src="/static/sponsors/connectedenergy.png" alt="Connected Energy" />
			</a>
			<a href="//cultivatehq.com" target="_blank">
            <img src="/static/sponsors/cultivate.png" alt="cultivate" />
			</a>
        </div>
        <div class="sponsorship__row">
			<a href="//edjo.io" target="_blank">
            <img src="/static/sponsors/edjo.png" alt="Edjo" />
			</a>
        </div>
    </div>

    <hr/>

	<div class="sponsorship__group">
		<span class="sponsorship__group--huel"> Powered by <a href="//huel.com"><img src="/static/sponsors/huel.png" alt="Huel"/></a></span>
	</div>

    <svg class="sponsorhip__aftertransition" viewBox="0 0 100 10" preserveAspectRatio="none">
		<polygon points="100 0 100 10 0 10"/>
	</svg>
</div>
