@import "util/media";
@import "util/layout";

.jumbotron {
	position: relative;
	min-height: 100vh;

	background: url(/static/bg.jpg);
	background-position: 75% 75%;
	background-size: cover;

	> .jumbotron__text {
		background-color: rgba(0,0,0,0.3);

		height: 100vh;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		
		> .jumbotron__logo {
			max-width: 80%;
			margin: 0 10% 10px 10%;
			height: auto;

			@include media-desktop {
				max-width: 400px;
				margin: 0 0 10px 0;
			}
		}

		> .jumbotron__infotext {
			color: white;
			font-weight: bold;

			font-size: 1.3em;

			margin-bottom: 15px;
			padding-left: 10%;
			padding-right: 10%;
			text-align: center;

			line-height: 1.3em;

			@include media-desktop {
				max-width: 20em;
			}

			> a {
				color: inherit;
				opacity: 0.6;
				text-decoration: none;
				will-change: opacity;
				mix-blend-mode: screen;
				transition: opacity 0.15s cubic-bezier(0,0,0.3,1);

				&:hover {
					opacity: 0.7;
				}
			}

		}

		> .jumbotron__buttons {
			margin-top: 10px;

			@include layout-column;
			@include media-desktop {
				@include layout-row;
			}
		}
	}
}

