@import "util/media";
@import "util/layout";

$all__transition-height: 150px;
$jumbotron__height: calc(100vh + $all__transition-height);

.jumbotron {
	position: relative;
	height: $jumbotron__height;

	> .jumbotron__text {
		background-color: rgba(0,0,0,0.3);

		height: 100vh;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		
		> .jumbotron__logo {
			max-width: 80%;
			margin: 0 10% 10px 10%;
			height: auto;

			@include media-desktop {
				max-width: 400px;
				margin: 0 0 10px 0;
			}
		}

		> .jumbotron__infotext {
			color: white;
			font-weight: bold;

			font-size: 1.3em;

			margin-bottom: 15px;
			padding-left: 10%;
			padding-right: 10%;
			text-align: center;

			line-height: 1.3em;

			@include media-desktop {
				max-width: 20em;
			}

		}

		> .jumbotron__buttons {
			margin-top: 10px;

			@include layout-column;
			@include media-desktop {
				@include layout-row;
			}
		}
	}

	> .jumbotron__emailus {
		position: absolute;
		top: calc(100vh - 2.5em);
		left: 50%;
		transform: translateX(-50%);
		color: white;
	}

	.jumbotron__transition {
		display: block;	
		width: 100%;
		height: $all__transition-height;
		background: rgba(0,0,0,0.3);
		margin-bottom: -1px; // combat pixel line fighting

		> polygon {
			stroke: none;
			fill: $faq__color;
		}
	}
}

